.Specialties {
  //   border: 2px solid red;
  height: 474px;
  // background-image: url("../../img/bg_3.jpg");
  background-size: 100% 150%;
  background-attachment: fixed;
  margin-top: 112px;
  display: flex;
  align-items: center;
  justify-content: center;
  h1 {
    text-align: center;
    // line-height: 474px;
    color: white;
    margin-bottom: 8px;
  }
}

@media (max-width: 1024px) {
  .Specialties {
    //   border: 2px solid red;
    height: 474px;
    // background-image: url("../../img/bg_3.jpg");
    background-size: 100% 150%;
    background-attachment: fixed;
    // background-position: center;
    background-size: cover;
    margin-top: 112px;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
      text-align: center;
      // line-height: 474px;
      color: white;
      margin-bottom: 8px;
    }
  }
}

.from {
  //   border: 7px solid red;
  margin-bottom: 100px;

  .container {
    margin-top: -104px;
    // border: 2px solid red;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    padding: 0;

    .row {
      width: 48%;
      margin: 0;
      margin: 10px 10px;
      box-shadow: 0px 1px 28px -12px rgba(0, 0, 0, 75%);

      // border: 2px solid red;
      display: flex;

      .col-1 {
        // border: 2px solid red;
        width: 50%;
        padding: 3.3%;
        text-align: center;
        height: 301px;
        background-color: $color1;
        h1 {
          font-size: 20px;
          text-transform: capitalize;
          margin-bottom: 8px;
        }
        p {
          width: 200px;
          margin: 0 auto 16px;
        }
        span {
          color: $orange;
          font-weight: 700;
          text-transform: uppercase;
        }
      }
      .col-2 {
        height: 301px;

        width: 50%;
        // border: 2px solid blue;
        padding: 0;
        margin: 0;
        cursor: zoom-in;
        overflow: hidden;
        transition: 0.3s;

        img {
          width: 100%;
          height: 100%;
          transition: 0.3s;
        }

        img:hover {
          transform: scale(1.2);
        }
        img:active {
          transform: scale(1.4);
        }
      }

      .col-2:hover {
        cursor: zoom-in;
      }
    }
  }
}

@media (max-width: 1350px) {
  .from {
    //   border: 7px solid red;
    margin-bottom: 100px;

    .container {
      margin-top: -104px;
      // border: 2px solid red;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 0;

      .row {
        width: 80%;
        padding: 0;
        margin: 0px auto 60px;
        box-shadow: 0px 1px 28px -12px rgba(0, 0, 0, 75%);

        // border: 2px solid red;
        display: flex;

        .col-1 {
          // border: 2px solid red;
          width: 50%;
          padding: 6.3%;
          text-align: center;
          height: 351px;
          background-color: $color1;
          h1 {
            font-size: 20px;
            text-transform: capitalize;
            margin-bottom: 8px;
          }
          p {
            width: 70%;
            margin: 0 auto 16px;
          }
          span {
            color: $orange;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
        .col-2 {
          height: 351px;

          width: 50%;
          border: none;
          padding: 0;
          margin: 0;
          cursor: zoom-in;
          overflow: hidden;
          transition: 0.3s;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: 0.3s;
          }

          img:hover {
            transform: scale(1.2);
          }
          img:active {
            transform: scale(1.4);
          }
        }

        .col-2:hover {
          cursor: zoom-in;
        }
      }
    }
  }
}

@media (max-width: 755px) {
  .from {
    //   border: 7px solid red;
    margin-bottom: 100px;

    .container {
      margin-top: -104px;
      // border: 2px solid red;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 0;

      .row {
        width: 90%;
        padding: 0;
        margin: 0px auto 60px;
        box-shadow: 0px 1px 28px -12px rgba(0, 0, 0, 75%);

        // border: 2px solid red;
        display: flex;

        .col-1 {
          // border: 2px solid red;
          width: 50%;
          padding: 5.3%;
          text-align: center;
          height: 300px;
          background-color: $color1;
          h1 {
            font-size: 20px;
            text-transform: capitalize;
            margin-bottom: 8px;
          }
          p {
            width: 70%;
            margin: 0 auto 16px;
          }
          span {
            color: $orange;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
        .col-2 {
          height: 300px;

          width: 50%;
          border: none;
          padding: 0;
          margin: 0;
          cursor: zoom-in;
          overflow: hidden;
          transition: 0.3s;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: 0.3s;
          }

          img:hover {
            transform: scale(1.2);
          }
          img:active {
            transform: scale(1.4);
          }
        }

        .col-2:hover {
          cursor: zoom-in;
        }
      }
    }
  }
}

@media (max-width: 755px) {
  .from {
    //   border: 7px solid red;
    margin-bottom: 100px;

    .container {
      margin-top: -104px;
      // border: 2px solid red;
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      padding: 0;

      .row {
        width: 80%;
        padding: 0;
        margin: 0px auto 60px;
        box-shadow: 0px 1px 28px -5px rgba(0, 0, 0, 75%);

        // border: 2px solid red;
        display: flex;

        .col-1 {
          // border: 2px solid red;
          width: 100%;
          padding: 12.3% 4%;
          text-align: center;
          height: 300px;
          background-color: $color1;
          h1 {
            font-size: 20px;
            text-transform: capitalize;
            margin-bottom: 8px;
          }
          p {
            width: 70%;
            margin: 0 auto 16px;
          }
          span {
            color: $orange;
            font-weight: 700;
            text-transform: uppercase;
          }
        }
        .col-2 {
          height: 300px;

          width: 100%;
          border: none;
          padding: 0;
          margin: 0;
          cursor: zoom-in;
          overflow: hidden;
          transition: 0.3s;

          img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: 0.3s;
          }

          img:hover {
            transform: scale(1.2);
          }
          img:active {
            transform: scale(1.4);
          }
        }

        .col-2:hover {
          cursor: zoom-in;
        }
      }
    }
  }
}
